#area-restrita{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;

    section{
        width: 80%;
        height: auto;
        display: block;
        background-color: #FFEBDF;
    }

    #side-bar{
        width: 20%;
        background-color: #FAF4F4;

        #main-side-bar{
            position: fixed;
            width: 20%;
            height: calc(100vh - 70px);
            display: flex;
            flex-flow: column;
            justify-content: space-around;
        }

        #voltar{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid #EFD6BD;
            background-color: #EFD6BD;
            height: 8%;
            width: 40%;
            border-radius: 10px;
            margin: 0 0 40px 30px;
            transition: all 0.3s ease-out;
            font-size: 15px;

            img{
                width: 20%;
                height: auto;
            }
        }

        #voltar:hover{
            background-color: #efd6bd3a;
            transition: all 0.3s ease-out;
        }

        div{
            width: 90%;
            height: 70%;
            margin: auto;

            #header{
                width: 100%;
                height: 15%;
                border-radius: 8px;
                background-color: #D5B487;
                h1{
                    margin: 0 0 0 20px;
                    line-height: 70px;
                    font-size: 28px;
                }
            }

            ul{
                height: 85%;
                width: 90%;
                margin: 0 auto;
                background-color: #EFD6BD;
                padding: 20px 0 0 0;
                list-style: none;
                border-radius: 0 0 10px 10px;

                li{
                    height: 10%;
                    width: 85%;
                    margin: 5px auto;
                    padding-left: 10px;
                    border-radius: 8px;
                    border: 2px solid #EBC7A2;
                    background-color: #EBC7A2;
                    font-weight: bolder;
                    font-size: 18px;
                    line-height: 40px;
                    transition: all 0.2s ease-out;
                }

                li:hover{
                    background-color: #faf4f471;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
    
    #search-dados{
        display: flex;
        width: 40%;
        margin-left: 50px;
        margin-top: 50px;
        border: none;
        background-color: transparent;

        input{
            width: 100%;
            height: 45px;
            border-radius: 10px 0 0 10px;
            border: none;
            outline: none;
            margin: 0 0 30px 0;
            padding: 0 15px 0;
            background-color: #D5B487;
        }

        input::placeholder{
            color: #000000;
        }

        input:focus{
            box-shadow: 
            0 0 0 2px rgba(0, 0, 0),
            -2px 0 0 0 rgba(0, 0, 0), 
            1px -2px 0 0 rgba(0, 0, 0); 
            color: #000000;
        }

        input:focus + div{
            box-shadow: 
            0 2px 0 0 rgba(0, 0, 0), /* Top */
            2px 0 0 0 rgba(0, 0, 0),   /* Left */
            0 -2px 0 0 rgba(0, 0, 0); 
        }

        div{
            background-color: #D5B487;
            height: 45px;
            width: auto;
            border-radius: 0 10px 10px 0;
        }

        div img{
            height: 30px;
            width: auto;
            margin: 7px 10px 0 0;
        }

        #ordenar, #add{
            display: flex;
            align-items: center;
            justify-content: center;
            margin:  0 0 0 20px;
            border-radius: 10px;
            font-size: 50px;
            font-weight: 500;

            height: 45px;
            min-width: 45px;

            padding: 0;

            img{
                margin: 0 0 1px 1px;
                height: auto;
                width: 75%;
            }
        }
    }

    #dados{
        width: 95%;
        margin: auto;
        max-height: 63.5vh;
        overflow-y: scroll;
        list-style: none;
        padding: 5px;
        background-color: #EBC7A2;
        border-radius: 10px;

        .dado{
            width: 98%;
            height: 130px;
            margin: 10px 5px;
            background-color: #EFD6BD;
            border-radius: 20px;
            padding-bottom: 5px;


            .dado-header{
                width: 95%;
                height: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: auto;

                #image-product-header img{
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                }

                .icon{
                    background-color: #AB886D;
                    border-radius: 10px;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 2px;
                    z-index: 100;
                    opacity: 0;

                    img{
                        width: 70%;
                        height: auto;
                    }
                }

                .icon:hover{
                    background-color: #D5B487;
                }

                div{
                    display: flex;
                    align-items: center;
                }
            }

            #modal-delete{
                display: flex;
                justify-content: space-around;
                background-color: #f53030;
                position: relative;
                bottom: 50px;
                left: 0;
                width: 100%;
                height: auto;
                border-radius: 0 0 20px 20px;
                padding: 5px 0 3px 0;

                h3{
                    margin: 0;
                    font-weight: 600;
                    color: white;
                }

                button{
                    border-radius: 8px;
                    border-color: transparent;
                    background-color: white;
                    color: #000;
                    margin: 3px;
                }
            }

            table {
                width: 98%;
                height: 50%;
                border-collapse: collapse;
                margin: 0 0 20px 2%;
                text-align: left;
            
                th, td {
                    padding: 5px;
                    max-width: 100px;
                }
                td {
                    vertical-align: middle;

                    input{
                        font-size: 16px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }

                #adm{
                    width: 15%;
                }

                #dataNascimento{
                    width: 20%;
                }


                #descricao, #email{
                    white-space: nowrap;
                    overflow-x: auto;
                    width: 25%;
                }

                #descricao::-webkit-scrollbar, #email::-webkit-scrollbar {
                    height: 8px;
                }
                
                #descricao::-webkit-scrollbar-track, #email::-webkit-scrollbar-track {
                    background: #EBC7A2;
                    border-radius: 15px;
                }
                
                #descricao::-webkit-scrollbar-thumb, #email::-webkit-scrollbar-thumb {
                    background: #926c54; 
                    border-radius: 4px;
                }
                
                #descricao::-webkit-scrollbar-thumb:hover, #email::-webkit-scrollbar-thumb:hover {
                    background: rgb(199, 152, 125);
                }
            }
        }

        .dado:hover {
            background-color: #fde9d6;
            transition: all 0.3s ease-out;

            .icon{
                opacity: 1;
                transition: all 0.3s ease-out;
            }
        }
    }

    #dados::-webkit-scrollbar {
        width: 10px;
    }
    
    #dados::-webkit-scrollbar-track {
        background: #EBC7A2;
        border-radius: 55px;
    }
    
    #dados::-webkit-scrollbar-thumb {
        background: #926c54; 
        border-radius: 4px;
    }
    
    #dados::-webkit-scrollbar-thumb:hover {
        background: rgb(199, 152, 125);
    }

    #add-dado{
        z-index: 1000;
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100%;
        height: 80vh;
        padding-bottom: 7vh;

        .cadastro-card{
            background-color: #AB886D;
            max-height: 70vh;
            overflow-y: scroll;

            .input-desc{
                display: flex;
                flex-flow: column;

                textarea{
                    background-color: #D9D9D9;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    resize: none;
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }

            h3{
                margin: 5px 0 5px 0;
                font-size: 0.9rem;
                font-weight: 600;
                width: 100%;
                text-align: start;
            }
            .input-cat{
                display: flex;
                height: 100px;
                flex-direction: column;
                flex-wrap: wrap;
                width: 60%;
                margin-left: 20px;

                label{
                    display: flex;
                    width: 50px;
                    flex-flow: row;
                    margin: 3px 0 3px 0;
                    
                    p{
                        margin: 0 0 0 10px;
                    }

                    input{
                        margin: 0;
                    }
                }
            }

            .cpf-dob-container{
                margin-bottom: 10px;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }

            button{
                width: 30%;
                margin: 5px;
            }

            .cancel{
                background-color: transparent;
                border: 3px solid #bc1313;
                transition: all 0.3s ease-in;
            }

            .cancel:hover{
                background-color: #882222;
                border-color: #882222;
            }

            .header-update{
                width: 100%;
                text-align: start;
                font-size: 18px;
            }
        }

        .cadastro-card::-webkit-scrollbar {
            width: 10px;
        }
        
        .cadastro-card::-webkit-scrollbar-track {
            background: #AB886D;
            border-radius: 0 4px 0 4px;
        }
        
        .cadastro-card::-webkit-scrollbar-thumb {
            background: #926c54; 
            border-radius: 10px;
        }
        
        .cadastro-card::-webkit-scrollbar-thumb:hover {
            background: #AB886D;
        }
    }
}