.cadastro-card {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #D6C0B3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.cadastro-card h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.submit-btn {
    margin: 50px auto;
    padding: 15px;
    letter-spacing: 2px;
    background-color: #B62929;
    width: 240px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: 900;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #882222;
}
